
*{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    
}
img{
    display: flex;
    width: 80%;
    position: relative;
    right: 100%;
    top: 12%;
}
body{
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    color:aliceblue;
}
.border{
    background-color: #032068;
    width: 50%;
    margin-left: 50%;
    height: 100vh;

}
.title-first h2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -29rem;
    margin-bottom: 2rem;
    font-size: 22px;
    
}
.title-first h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #DFE2F7;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.options h2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 22px;
    
}

label {
    display: block;
    padding-left: 20rem;
    position: relative;
  }
  
  input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

.custom-checkbox {
    display: flex;
    align-items: start;
    justify-content: start;
    position: absolute;
    top: 2px;
    margin-left: -60px;
    
    height: 1rem;
    width: 2rem;
    border: 2px solid #DFE2F7;
    cursor: pointer;
  }

  .custom-checkbox:hover {
    border-color: white;
  }
  
  input[type=checkbox]:checked ~ .custom-checkbox {
    border-color:#222437;
    background-color: #DFE2F7;
  }
  
.password-input{
    margin-top: 45px;
    max-width: 450px;
    margin-bottom: 20px;    
}

.container-input span{
    color: white;
    font-size: 15px;
  
}

.slider{
    border-radius: 5px;
    background-color: antiquewhite;
   
}
.button-cta{
    height: 40px;
    background-color:#DFE2F7;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #032068;
}

.container-password{
    max-width: 450px;
}

.title{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
    
}

.password{
    height: 60px;
    background-color:white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #032068;
    border: 1px solid white;
    transition: transform 0.5s;
    margin-bottom: 40px;
}

.password:hover{
    transform: scale(1.05);
    
}
.tooltip{
    position: relative;
    top: -17px;
    padding: 6px 8px;
    background:rgba(240, 248, 255, 0.163);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.hide{
    display: none;
}
.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}

@media (max-width: 767px){
    
    img{
        position: absolute;
        border-radius: 20px;
        top: 15%; 
        left: 21%;
        width: 60%;
        /* margin-right: -50px; 15*/
     
    }
    .title-first h1{
        margin-top: -115px;
    }
    .title-first h2{
        margin-top: 85px;
    }
    .border{
        background-color: #032068;
        position: relative;
        right: 38%;
        width: 80%;
        height: 145vh;
        
    }

    .options h2{
       font-size: 15px;
       margin-top: 385px;
       
    }

   .password-input {
   padding-left: 8px;
   font-size: 18px;
   
   }

   .password-input .slider{
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
   }

   .password-input .button-cta{
    width: 280px;
    display: flex;
    justify-content: center;
    text-align: center;

   }
   label {
    margin-left: -100px;
    margin-bottom: 15px;
   }

   .title{
   display: flex;
   justify-content: center;
   text-align: center;
    
   }
   .password{
    width: 270px; 
   }

   .tooltip{
    width: 280px;
    }

    
}

@media (max-width: 600px){

    img{
        width: 80%;
        margin-left: -30px;
    }

    .border{
        right: 50%;
        width: 101%;
        height: 145vh;
        overflow-x: hidden;
    }
    .title-first h2{
        margin-top: 10px;
    }
    .title-first h1{
        margin-top: 30px;
    }
    .options h2{
        margin-top: 332px;
        font-size: 18px;
    }
    label {
        margin-left: -40%;
    
    }
    p{
        font-size: 15px;
        width: 160%;
    }
    .password-input .slider{
        width: 350px;
        
    }
}